# Src: https://github.com/pypa/sampleproject/blob/main/.gitignore

# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~
venv/

### Our additions:

.idea/**
*.out
*.in
# Include testing dataset input files:
!testing_dataset/*.in